*{
    background-color: #000;
    box-sizing: border-box;
    
    font-family: Arial, Helvetica, sans-serif;
    

    

    
}


.to-do-list{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;margin-top: 100px;
    color: #ffffff;
    background-color: #000;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 #494545;
    border: 1px solid #ffffff;
    transition: background-color 0.3s;
    padding: 20px;
    margin: auto;





}

h1{
    font-size: 4rem;
    color: #ffffff ;
    margin-bottom: 20px;

}

button{
    font-size: 1.7rem;
    font-weight: bold;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.addbtn{
    background-color: #4CAF50;
}

.addbtn:hover{
    background-color: #45a049;
}

.deletebtn{
    background-color: #f44336;
}

.deletebtn:hover{
    background-color: #da190b;
}

.taskup{
    background-color: #3fc5f1;
}

.taskup:hover{
    background-color: #20cfff;
}

.taskdown{
    background-color: #f8f85c;
}

.taskdown:hover{
    background-color: #f1f13f;
}

input[type="text"]{
    font-size: 1.6rem;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    color: #04e2ff8f;
    width: 70%;
    margin-bottom: 10px;
    transition: border-color 0.3s;
    
}

ol{
    list-style-type: none;
    padding: 0;
    text-align: left;
    margin: 0;
    color: #ffffff;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
    background-color: #000;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 #ffffff;
    border: 1px solid #ffffff;
    transition: background-color 0.3s;
    padding: 20px;
    margin: auto;
    margin-top: 20px;


}

  

li{
    font-size: 2rem;
    padding: 15px;
    background-color: #f9f9f9;
    border: 1px solid #413b3b;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    color: #000;

    
}

.text{
    flex: 1;
    text-align: left;
    color: #ffffff;


}

button{
    font-size: 1.7rem;
    font-weight: bold;
    margin-left: 10px;
    
}